@import "../../../node_modules/pixel-borders/src/styles/pixel-borders.scss";

.pixel {
    @include pixel-borders(
        $corner-size: 2,
        $border-size: 10px,
        $border-color: #000000
    );
}

.pixel-timer {
    @include pixel-borders(
        $corner-size: 2,
        $border-size: 2px,
        $border-color: #000000
    );
}
